<h1 mat-dialog-title>{{data.dialogTitle}}</h1>
<mat-dialog-content class="dialog-content">
  <mat-form-field appearance="fill" color="accent">
    <mat-label>Назва категорії</mat-label>
    <mat-select [(ngModel)]="data.category._id">
      <mat-option *ngFor="let category of data.categories" [value]="category._id">{{category.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" color="accent">
    <mat-label>Тип транзакції</mat-label>
    <mat-select [(ngModel)]="data.transaction.type">
      <mat-option [value]="true">Дохід</mat-option>
      <mat-option [value]="false">Витрата</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" color="accent">
    <mat-label>Сума, грн.</mat-label>
    <input matInput [(ngModel)]="data.transaction.amount" type="number" min="0.01" cdkFocusInitial>
  </mat-form-field>
  <mat-form-field appearance="fill" color="accent">
    <mat-label>Оберіть дату</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="data.transaction.date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="fill" color="accent">
    <mat-label>Назва транзакції</mat-label>
    <textarea matInput [(ngModel)]="data.transaction.name" rows="5"></textarea>
  </mat-form-field>

  <button mat-button [mat-dialog-close]="{deleteId: data.transaction._id}" color="warn"
    *ngIf="data.dialogAction === 'РЕДАГУВАТИ'">
    <mat-icon>delete</mat-icon>
    ВИДАЛИТИ
  </button>
</mat-dialog-content>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>СКАСУВАТИ</button>
  <button mat-button [mat-dialog-close]="data"
    [disabled]="!data.category._id || data.transaction.type === undefined || !data.transaction.amount || !data.transaction.date || !data.transaction.name"
    color="accent">{{data.dialogAction}}</button>
</div>