<h1 mat-dialog-title>{{data.dialogTitle}}</h1>
<mat-dialog-content class="dialog-content">
  <mat-form-field appearance="fill" color="accent">
    <mat-label>Назва категорії</mat-label>
    <mat-select [(ngModel)]="data.categoryId">
      <mat-option *ngFor="let category of data.categories" [value]="category._id">{{category.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" color="accent">
    <mat-label>Тип транзакції</mat-label>
    <mat-select [(ngModel)]="data.type">
      <mat-option value="false">Витрата</mat-option>
      <mat-option value="true">Дохід</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" color="accent">
    <mat-label>Сума, грн.</mat-label>
    <input matInput [(ngModel)]="data.amount" type="number" min="0">
  </mat-form-field>
  <mat-form-field appearance="fill" color="accent">
    <mat-label>Оберіть дату</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="data.date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="fill" color="accent">
    <mat-label>Опис транзакції</mat-label>
    <textarea matInput [(ngModel)]="data.description" rows="5"></textarea>
  </mat-form-field>
</mat-dialog-content>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Скасувати</button>
  <button mat-button [mat-dialog-close]="data"
    [disabled]="!data.categoryId || !data.type || !data.amount || !data.date || !data.description"
    color="accent">{{data.dialogAction}}</button>
</div>