.categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -8px;
}

.category-card {
  width: 300px;
  margin: 8px;
  height: fit-content;
}

.date-range {
  margin-top: 8px;
  /* margin-bottom: -16px; */
}

.add-fab {
  position: fixed;
  right: 32px;
  bottom: 32px;
}

.flex p {
  white-space: normal;
  margin: 0;
}

.text-accent {
  color: #69f0ae;
}

.text-warn {
  color: #f44336;
}

.text-muted {
  color: rgba(255, 255, 255, 0.7);
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.jc-center {
  justify-content: center;
}

.ai-center {
  align-items: center;
}

.jc-space-between {
  justify-content: space-between;
}

.as-center {
  align-self: center;
}

.text-center {
  text-align: center;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.mr-1 {
  margin-right: 1rem !important;
}

.ml-1 {
  margin-left: 1rem !important;
}

.user-select-none {
  user-select: none;
}

.cursor-pointer {
  cursor: pointer;
}
