<mat-progress-bar mode="indeterminate" color="accent" *ngIf="categories.length === 0"></mat-progress-bar>

<div class="flex jc-center ai-center mt-1 mb-1">
  <div class="flex mr-1">
    <!-- <mat-form-field appearance="fill" color="accent" style="margin-bottom: -1.34375em;">
      <mat-label>Оберіть період часу</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Початок">
        <input matEndDate placeholder="Кінець">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field> -->
    <mat-form-field appearance="fill" color="accent" style="margin-bottom: -1.34375em;">
      <mat-label>Оберіть період часу</mat-label>
      <mat-select [(ngModel)]="dateRange" (selectionChange)="setDateRange()">
        <mat-option value="1 day">1 день</mat-option>
        <mat-option value="1 week">1 тиждень</mat-option>
        <mat-option value="1 month">1 місяць</mat-option>
        <mat-option value="1 year">1 рік</mat-option>
        <!-- <mat-option value="4">обрати на календарі</mat-option> -->
      </mat-select>
    </mat-form-field>
  </div>

  <mat-chip-list>
    <mat-chip color="accent" selected>
      Доходи за період: {{summary.income | currency:'UAH':'symbol': '1.2-2'}}
    </mat-chip>
    <mat-chip color="warn" selected>
      Витрати за період: {{summary.outcome | currency:'UAH':'symbol': '1.2-2'}}
    </mat-chip>
  </mat-chip-list>
</div>

<div class="categories">
  <mat-card *ngFor="let category of categories; let categoryIndex = index" class="category-card">
    <mat-card-title-group>
      <mat-card-title class="flex ai-center">
        {{category.name}}
        <button mat-icon-button matTooltip="Редагувати категорію" (click)="openUpdateCategoryDialog(category)">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-card-title>
      <mat-card-subtitle>Категорія</mat-card-subtitle>
    </mat-card-title-group>

    <mat-card-content>
      <mat-chip-list>
        <mat-chip color="accent" selected *ngIf="category.income > 0">
          Доходи: {{category.income | currency:'UAH':'symbol':'1.2-2'}}
        </mat-chip>
        <mat-chip color="warn" selected *ngIf="category.outcome < 0">
          Витрати: {{category.outcome | currency:'UAH':'symbol': '1.2-2'}}
        </mat-chip>
      </mat-chip-list>

      <p class="mt-1">{{category.description}}</p>
    </mat-card-content>

    <mat-card-actions class="mb-0">
      <button mat-button color="accent" (click)="openAddTransactionDialog(category, true)">
        <mat-icon>add</mat-icon>
        ДОХІД
      </button>
      <button mat-button color="warn" (click)="openAddTransactionDialog(category, false)">
        <mat-icon>remove</mat-icon>
        ВИТРАТА
      </button>
    </mat-card-actions>

    <mat-card-footer *ngIf="category.transactions.length > 0">
      <mat-accordion>
        <mat-expansion-panel (opened)="expanded[category._id] = true" (closed)="expanded[category._id] = false"
          [expanded]="expanded[category._id]">
          <mat-expansion-panel-header>
            <mat-panel-description>
              Всі записи
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item *ngFor="let transaction of category.transactions; let transactionIndex = index">
              <div mat-line>
                <div class="flex jc-space-between">
                  <p class="mr-1">{{transaction.name}}</p>
                  <p [ngClass]="transaction.amount > 0 ? 'text-accent' : 'text-warn'">
                    {{transaction.amount | currency:'UAH':'symbol': '1.2-2'}}
                  </p>
                </div>
              </div>
              <div mat-line class="text-muted">
                <div class="flex jc-space-between ai-center">
                  {{transaction.date | date}}
                  <button mat-icon-button matTooltip="Редагувати запис"
                    (click)="openUpdateTransactionDialog(category, transaction)">
                    <mat-icon>edit</mat-icon>
                  </button>
                </div>
              </div>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-footer>
  </mat-card>

  <mat-card matRipple (click)="openAddCategoryDialog()"
    class="category-card flex jc-center ai-center user-select-none cursor-pointer" style="height: 200px">
    <mat-card-content class="text-center mb-0">
      <h2>Додати категорію</h2>
      <mat-icon>add</mat-icon>
    </mat-card-content>
  </mat-card>
</div>