.categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -8px;
}

.category-card {
  width: 300px;
  margin: 8px;
  height: fit-content;
}

.date-range {
  margin-top: 8px;
  /* margin-bottom: -16px; */
}
