<mat-progress-bar mode="indeterminate" color="accent" *ngIf="categories.length === 0"></mat-progress-bar>

<div class="flex jc-center ai-center mt-1 mb-1">
  <div class="flex mr-1">
    <mat-form-field appearance="fill" color="accent" style="margin-bottom: -1.34375em;">
      <mat-label>Оберіть період часу</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Початок">
        <input matEndDate placeholder="Кінець">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  </div>

  <mat-chip-list>
    <mat-chip color="accent" selected>
      Доходи за період: {{summary.income | currency:'UAH':'symbol': '1.2-2'}}
    </mat-chip>
    <mat-chip color="warn" selected>
      Витрати за період: -{{summary.expanse | currency:'UAH':'symbol': '1.2-2'}}
    </mat-chip>
  </mat-chip-list>
</div>

<div class="categories">
  <mat-card *ngFor="let category of categories; let i = index" class="category-card">
    <mat-card-title-group>
      <mat-card-title class="flex ai-center">
        {{category.name}}
        <button mat-icon-button matTooltip="Редагувати категорію"
          (click)="openUpdateCategoryDialog(category.name, category.description, category._id, i)">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-card-title>
      <mat-card-subtitle>Категорія</mat-card-subtitle>
    </mat-card-title-group>

    <mat-card-content>
      <mat-chip-list>
        <mat-chip color="accent" selected>Доходи: 1500.00</mat-chip>
        <mat-chip color="warn" selected>Витрати: -230.85</mat-chip>
      </mat-chip-list>

      <p class="mt-1">{{category.description}}</p>
    </mat-card-content>

    <mat-card-actions class="mb-0">
      <button mat-button color="accent" (click)="openAddTransactionDialog(category._id, true)">
        <mat-icon>add</mat-icon>
        ДОХІД
      </button>
      <button mat-button color="warn" (click)="openAddTransactionDialog(category._id, false)">
        <mat-icon>remove</mat-icon>
        ВИТРАТА
      </button>
    </mat-card-actions>

    <mat-card-footer *ngIf="category.transactions.length > 0">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-description>
              Всі записи
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item *ngFor="let transaction of category.transactions">
              <div mat-line>
                <div class="flex jc-space-between">
                  <p class="mr-1">{{transaction.description}}</p>
                  <p [ngClass]="transaction.income ? 'text-accent' : 'text-warn'">
                    {{!transaction.income ? '-' : ''}}{{transaction.amount | currency:'UAH':'symbol': '1.2-2'}}
                  </p>
                </div>
              </div>
              <div mat-line class="text-muted">
                <div class="flex jc-space-between ai-center">
                  {{transaction.date | date}}
                  <button mat-icon-button matTooltip="Редагувати запис"
                    (click)="openUpdateTransactionDialog(transaction.name, transaction.description, transaction._id, i)">
                    <mat-icon>edit</mat-icon>
                  </button>
                </div>
              </div>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-footer>
  </mat-card>

  <mat-card matRipple (click)="openAddCategoryDialog()"
    class="category-card flex jc-center ai-center user-select-none cursor-pointer" style="height: 200px">
    <mat-card-content class="text-center mb-0">
      <h2>Додати категорію</h2>
      <mat-icon>add</mat-icon>
    </mat-card-content>
  </mat-card>
</div>