<mat-toolbar class="toolbar">
  <span>DeBabki</span>
</mat-toolbar>

<mat-tab-group color="accent" mat-align-tabs="center" dynamicHeight>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">paid</mat-icon>
      Витрати та доходи
    </ng-template>

    <app-categories></app-categories>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">analytics</mat-icon>
      Статистика
    </ng-template>

    <app-statistics></app-statistics>
  </mat-tab>
</mat-tab-group>

<router-outlet></router-outlet>