.transactions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.transaction-card {
  width: 300px;
  margin: 8px;
  height: fit-content;
}

.add-fab {
  position: fixed;
  right: 32px;
  bottom: 32px;
}
