<mat-progress-bar mode="indeterminate" color="accent" *ngIf="categories.length === 0"></mat-progress-bar>

<app-summary (dateChange)="dateRangeChange($event)"></app-summary>

<div class="flex jc-center ai-center"
  *ngIf="summaryChart.show && categoriesIncomeChart.show && categoriesOutcomeChart.show">
  <div style="width: 400px; height: 400px;">
    <canvas baseChart [data]="summaryChart.data" [options]="summaryChart.options" [type]="'pie'"
      [legend]="true"></canvas>
  </div>
  <div style="width: 400px; height: 400px;">
    <canvas baseChart [data]="categoriesIncomeChart.data" [options]="categoriesIncomeChart.options" [type]="'pie'"
      [legend]="true"></canvas>
  </div>
  <div style="width: 400px; height: 400px;">
    <canvas baseChart [data]="categoriesOutcomeChart.data" [options]="categoriesOutcomeChart.options" [type]="'pie'"
      [legend]="true"></canvas>
  </div>
</div>
